<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>水木留香</title> 
</head>
<body>
<style>
h1 {font-size:40px;}
h2 {font-size:30px;}
a {font-size:30px;}
p {font-size:30px;}
body {
    margin:0 auto;width:
    500px;height:250px;
    background-image: url(2.jpg);
    background-size: 100%;
    width:100%;
    height: 100%;
    position: absolute;
    }
.character
{
    text-align: center;
    height: 100px;
    position: absolute;
    left: 42%;
    top: 30%;
    margin-top: -50px;
    
}
</style>	

<div class="bodystyle">
<div class="character">
<h1>水木留香</h1>
<p>
<a href="issue.html" target="_self">发布新的项目</a><br/>
<P>
<a href="manage.html" target="_self">管理已有项目</a><br/>
<P>
<a href="info_change.html" target="_self">修改我的信息</a><br/>
<div>
</div>

	
</body>
</html>